@charset "utf-8";

.botan{
  all: unset;
  color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 5px;
  background-color: bisque;
}

body{
  margin:0;
}

section{
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 16px - 16px);
}

h1{
  border-bottom: orange;
  text-align: center;
}

div{
  text-align: center;
  margin: 5px 0;
}


table{
  border-collapse: collapse;
  margin: 10px auto;
}

thead{
  background-color: antiquewhite;
}

th{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}